@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblKategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.KategoriId</th>
                <td>@ktgr.KategoriAd</td>
                <td><a class="btn btn-success" href="/Kategori/KategoriGetir/@ktgr.KategoriId">Güncelle</a></td>
                <td><a class="btn btn-danger" href="/Kategori/Sil/@ktgr.KategoriId">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kategori/YeniKategori/" class="btn btn-primary">Yeni Kategori Ekle</a>